/**
 * -----------------------------------------------------------------------------
 * $ANIMATION
 * -----------------------------------------------------------------------------
 */

/*
 * Hero images on home page
*/

.animation--hero-fade {
    animation-name: HeroFade;
    animation-duration: 12s;
    animation-iteration-count:infinite;
}

@keyframes HeroFade {
    0% { opacity: 0; }
    40% { opacity: 0; }
    50% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

/*
 * Hero images on home page
*/

.animation--hero-cta-fade {
    animation-name: HeroCTAFade;
    animation-duration: 12s;
    animation-iteration-count:infinite;
}

@keyframes HeroCTAFade {
    0% { background: $color-hello-games; }
    40% { background: $color-hello-games; }
    50% { background: #40806a; }
    90% { background: #40806a; }
    100% { background: $color-hello-games; }
}

/*
 * Hello Games freighter
*/

.animation--freighter {
    position: absolute;
    bottom: -15rem;
    left: 5rem;
    max-width: 75%;
    z-index: 1;

    pointer-events: none;

    animation-name: HelloGamesFreighter;
    animation-duration: 10s;
    animation-iteration-count:infinite;

    @include bp-min-width($bp-v-tiny) { bottom: -17rem; }
    @include bp-min-width($bp-tiny) {
        bottom: -20rem;
        left: 7rem;
    }
    @include bp-min-width($bp-small) {
        bottom: -23rem;
        left: 10rem;
    }
    @include bp-min-width($bp-medium) {
        bottom:-30rem;
        left: 16rem;
    }
    @include bp-min-width($bp-medium-large) {
        bottom:-28rem;
        left: 38rem;
    }
    @include bp-min-width($bp-large) {
        bottom:-25rem;
        left: 50rem;
    }
    @include bp-min-width($bp-x-large) {
        left: 60rem;
    }
    @include bp-min-width($bp-huge) {
        left: 88%;
    }
}

@keyframes HelloGamesFreighter {
    0% { transform:  translate(0px,-10px); }
    50% { transform:  translate(0px,0px); }
    100% { transform:  translate(0px,-10px); }
}

/*
 * Rocket Jump Events clouds
*/

.animation--rje-cloud-1,
.animation--rje-cloud-2,
.animation--rje-cloud-3 {
    animation-delay: 3s;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

@keyframes RJECloud1 {
    0% { left: -140px; }
    100% { left: 100%; }
}

.animation--rje-cloud-1 {
    animation-name: RJECloud1;
    animation-duration: 30s;

    @include bp-min-width($bp-medium) {
        animation-duration: 80s;
    }
}

@keyframes RJECloud2 {
    0% { right: -120px; }
    100% { right: 100%; }
}

.animation--rje-cloud-2 {
    animation-name: RJECloud2;
    animation-duration: 60s;

    @include bp-min-width($bp-medium) {
        animation-duration: 100s;
    }
}

@keyframes RJECloud3 {
    0% { left: -100px; }
    100% { left: 100%; }
}

.animation--rje-cloud-3 {
    animation-name: RJECloud3;
    animation-duration: 80s;

    @include bp-min-width($bp-medium) {
        animation-duration: 120s;
    }
}

/*
 * Rocket Jump Events header
*/

@keyframes RocketClouds {
    0% { background-position: 0 0; }
    50% { background-position: -1126px 0; }
    100% { background-position: -2252px 0; }
}

@keyframes RocketClouds2 {
    0% { background-position: -500px 10px; }
    50% { background-position: -1626px 10px; }
    100% { background-position: -2752px 10px; }
}

@keyframes RocketMan {
    0% { bottom: -100px; }
    50% { bottom: -180px; }
    100% { bottom: -100px; }
}
