/**
 * -----------------------------------------------------------------------------
 * $SCROLL
 * -----------------------------------------------------------------------------
 */


.scroll {
    @include rem(font-size, $font-size-large * 2);

    bottom: 4rem;
    left: 50%;
    margin-left: -35px;
    position: absolute;
    width: 70px;

    font-family: $font-family-heading;
    text-align: center;
}
