[submodule "modules/Moov2.Orchard.Elements"]
	path = modules/Moov2.Orchard.Elements
	url = https://github.com/moov2/Moov2.Orchard.Elements
[submodule "modules/Moov2.Orchard.Ace"]
	path = modules/Moov2.Orchard.Ace
	url = https://github.com/moov2/Moov2.Orchard.Ace
[submodule "modules/Moov2.Orchard.SEO"]
	path = modules/Moov2.Orchard.SEO
	url = https://github.com/moov2/Moov2.Orchard.SEO
[submodule "modules/Moov2.Orchard.Editor"]
	path = modules/Moov2.Orchard.Editor
	url = git@github.com:moov2/Moov2.Orchard.Editor.git
