/**
 * -----------------------------------------------------------------------------
 * $ALIGNMENT
 * -----------------------------------------------------------------------------
 */

/**
 * Utility classes for dictating alignment.
 */

.align--horizontal-left { float: left; }
.align--horizontal-right { float: right; }

.align--vertical-middle {
    display: flex;
    align-items: center;
}
