/**
 * -----------------------------------------------------------------------------
 * $BACKGROUND
 * -----------------------------------------------------------------------------
 */

/**
 * Utility classes for adding background properties.
 */

.bg--color-blue {
    background-color: $color-blue;
    color: white;
}
.bg--color-dark-grey {
    background: $color-brand;
}

.bg--skew {
    position: relative;

    .section__content { position: relative; z-index: 1; }

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 140%;
        left: 0;
        top: -20%;

        transform: skewY(-4deg);
    }
}

.bg--skew-color-blue {
    color: white;

    &:after { background-color: $color-blue; }
}

.bg--skew-color-purple {
    color: white;

    &:after { background-color: $color-purple; }
}

.bg--skew-color-teal {
    color: white;

    &:after { background-color: $color-teal; }
}

.bg--skew-hello-games {
    color: white;

    &:after {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#050619+50,104169+100 */
        background: #050619; /* Old browsers */
        background: -moz-linear-gradient(top,  #050619 50%, #104169 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #050619 50%,#104169 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #050619 50%,#104169 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050619', endColorstr='#104169',GradientType=0 ); /* IE6-9 */
    }
}
