/**
 * -----------------------------------------------------------------------------
 * $FLEX
 * -----------------------------------------------------------------------------
 */

/**
 * Utility classes for adding flexbox attributes to elements.
 */

.flex { display: flex; }

.flex--align-center { align-items: center; }
.flex--align-center\@tiny { @include bp-min-width($bp-tiny) { align-items: center; } }
.flex--align-center\@small { @include bp-min-width($bp-small) { align-items: center; } }
.flex--align-center\@medium { @include bp-min-width($bp-medium) { align-items: center; } }
.flex--align-center\@medium-large { @include bp-min-width($bp-medium-large) { align-items: center; } }

.flex--align-start { align-items: flex-start; }
.flex--align-start\@tiny { @include bp-min-width($bp-tiny) { align-items: flex-start; } }
.flex--align-start\@small { @include bp-min-width($bp-small) { align-items: flex-start; } }
.flex--align-start\@medium { @include bp-min-width($bp-medium) { align-items: flex-start; } }
.flex--align-start\@medium-large { @include bp-min-width($bp-medium-large) { align-items: flex-start; } }
.flex--align-start\@large { @include bp-min-width($bp-large) { align-items: flex-start; } }

.flex--align-end { align-items: flex-end; }
.flex--align-end\@tiny { @include bp-min-width($bp-tiny) { align-items: flex-end; } }
.flex--align-end\@small { @include bp-min-width($bp-small) { align-items: flex-end; } }
.flex--align-end\@medium { @include bp-min-width($bp-medium) { align-items: flex-end; } }
.flex--align-end\@medium-large { @include bp-min-width($bp-medium-large) { align-items: flex-end; } }

.flex--direction-column { flex-direction: column; }
.flex--direction-column\@tiny { @include bp-min-width($bp-tiny) { flex-direction: column; } }
.flex--direction-column\@small { @include bp-min-width($bp-small) { flex-direction: column; } }
.flex--direction-column\@medium { @include bp-min-width($bp-medium) { flex-direction: column; } }
.flex--direction-column\@medium-large { @include bp-min-width($bp-medium-large) { flex-direction: column; } }

.flex--direction-column-rev { flex-direction: column-reverse; }
.flex--direction-column-rev\@tiny { @include bp-min-width($bp-tiny) { flex-direction: column-reverse; } }
.flex--direction-column-rev\@small { @include bp-min-width($bp-small) { flex-direction: column-reverse; } }
.flex--direction-column-rev\@medium { @include bp-min-width($bp-medium) { flex-direction: column-reverse; } }
.flex--direction-column-rev\@medium-large { @include bp-min-width($bp-medium-large) { flex-direction: column-reverse; } }
.flex--direction-column-rev\@large { @include bp-min-width($bp-large) { flex-direction: column-reverse; } }

.flex--direction-row { display: flex; flex-direction: row; }
.flex--direction-row\@tiny { @include bp-min-width($bp-tiny) { flex-direction: row; } }
.flex--direction-row\@small { @include bp-min-width($bp-small) { flex-direction: row; } }
.flex--direction-row\@medium { @include bp-min-width($bp-medium) { flex-direction: row; } }
.flex--direction-row\@medium-large { @include bp-min-width($bp-medium-large) { flex-direction: row; } }
.flex--direction-row\@large { @include bp-min-width($bp-large) { flex-direction: row; } }

.flex--direction-row-rev { display: flex; flex-direction: row-reverse; }
.flex--direction-row-rev\@tiny { @include bp-min-width($bp-tiny) { flex-direction: row-reverse; } }
.flex--direction-row-rev\@small { @include bp-min-width($bp-small) { flex-direction: row-reverse; } }
.flex--direction-row-rev\@medium { @include bp-min-width($bp-medium) { flex-direction: row-reverse; } }
.flex--direction-row-rev\@medium-large { @include bp-min-width($bp-medium-large) { flex-direction: row-reverse; } }
.flex--direction-row-rev\@large { @include bp-min-width($bp-large) { flex-direction: row-reverse; } }

.flex--grow { flex: 1; }

.flex--justify-around { justify-content: space-around; }
.flex--justify-around\@tiny { @include bp-min-width($bp-tiny) { justify-content: space-around; } }
.flex--justify-around\@small { @include bp-min-width($bp-small) { justify-content: space-around; } }
.flex--justify-around\@medium { @include bp-min-width($bp-medium) { justify-content: space-around; } }
.flex--justify-around\@medium-large { @include bp-min-width($bp-medium-large) { justify-content: space-around; } }

.flex--justify-between { justify-content: space-between; }
.flex--justify-between\@tiny { @include bp-min-width($bp-tiny) { justify-content: space-between; } }
.flex--justify-between\@small { @include bp-min-width($bp-small) { justify-content: space-between; } }
.flex--justify-between\@medium { @include bp-min-width($bp-medium) { justify-content: space-between; } }
.flex--justify-between\@medium-large { @include bp-min-width($bp-medium-large) { justify-content: space-between; } }

.flex--justify-center { justify-content: center; }
.flex--justify-center\@tiny { @include bp-min-width($bp-tiny) { justify-content: center; } }
.flex--justify-center\@small { @include bp-min-width($bp-small) { justify-content: center; } }
.flex--justify-center\@medium { @include bp-min-width($bp-medium) { justify-content: center; } }
.flex--justify-center\@medium-large { @include bp-min-width($bp-medium-large) { justify-content: center; } }

.flex--justify-start { justify-content: flex-start; }
.flex--justify-start\@tiny { @include bp-min-width($bp-tiny) { justify-content: flex-start; } }
.flex--justify-start\@small { @include bp-min-width($bp-small) { justify-content: flex-start; } }
.flex--justify-start\@medium { @include bp-min-width($bp-medium) { justify-content: flex-start; } }
.flex--justify-start\@medium-large { @include bp-min-width($bp-medium-large) { justify-content: flex-start; } }

.flex--justify-end { justify-content: flex-end; }
.flex--justify-end\@tiny { @include bp-min-width($bp-tiny) { justify-content: flex-end; } }
.flex--justify-end\@small { @include bp-min-width($bp-small) { justify-content: flex-end; } }
.flex--justify-end\@medium { @include bp-min-width($bp-medium) { justify-content: flex-end; } }
.flex--justify-end\@medium-large { @include bp-min-width($bp-medium-large) { justify-content: flex-end; } }

.flex--wrap { flex-wrap: wrap; }
.flex--wrap-no { flex-wrap: nowrap; }
