/**
 * -----------------------------------------------------------------------------
 * $WIDTH
 * -----------------------------------------------------------------------------
 */

.width--one-third { width: 33%; }
.width--half { width: 50%; }
.width--half\@medium { @include bp-min-width($bp-medium) { width: 50%; } }
.width--half\@gigantic { @include bp-min-width($bp-gigantic) { width: 50%; } }
.width--two-thirds { width: 66%; }
.width--full { width: 100%;}

.width--30 { width: 30%; }
.width--40 { width: 40%; }
.width--60 { width: 60%; }
.width--70 { width: 70%; }

.width-min--0 {
    min-width: 0%;
}
