/**
 * -----------------------------------------------------------------------------
 * $AVATAR
 * -----------------------------------------------------------------------------
 */

/**
 * Displays a profile picture of a user.
 */

.avatar {
    display: block;
    height: auto;
    max-width: $avatar-dimensions;
    min-width: $avatar-dimensions;

    border-radius: 50%;
}
