/**
 * -----------------------------------------------------------------------------
 * $AVATAR
 * -----------------------------------------------------------------------------
 */

/**
 * Displays a profile picture of a user.
 */

.avatar {
    display: inline-block;
    height: $avatar-dimensions;
    max-width: none;
    width: $avatar-dimensions;
    vertical-align: middle;

    border-radius: 50%;
}
