/**
 * -----------------------------------------------------------------------------
 * $BOX
 * -----------------------------------------------------------------------------
 */

/**
 * Element that contains other element.
 */

.box {
	background-color: $color-grey-light;

	box-sizing: border-box;
	display: block;
	position: relative;
}

	.box--padded { @include rem(padding, $spacing-default); }

.box--logo {
	text-align: center;

	display: table-cell;
	height: 250px;
	vertical-align: middle;
	width: 250px;
}
