/**
 * -----------------------------------------------------------------------------
 * $BRANDS
 * -----------------------------------------------------------------------------
 */

/*
 * Bounce
*/

.brand--gradient-hasbro,
.brand--gradient-mars,
.brand--gradient-microsoft,
.brand--gradient-supermassive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.brand--gradient-hasbro {
  background: radial-gradient(ellipse at top, rgba(102,208,208,1) 0%, rgba(6,112,176,1) 70%, rgba(0,77,122,1) 100%);

  animation: GradientHasbro2 16s forwards;
  z-index: 4;
}

.brand--gradient-mars {
  background: radial-gradient(ellipse at top, rgba(211,0,24,1) 0%, rgba(168,0,19,1) 50%, rgba(44,0,5,1) 100%);

  animation: GradientMars 16s forwards;
  z-index: 3;
}

.brand--gradient-microsoft {
  background: radial-gradient(ellipse at top, rgba(120,120,120,1) 0%, rgba(50,50,50,1) 70%, rgba(13,13,13,1) 100%);

  animation: GradientMicrosoft 16s forwards;
  z-index: 2;
}

.brand--gradient-supermassive {
  background: radial-gradient(ellipse at top, rgba(43,108,118,1) 0%, rgba(7,40,48,1) 50%, rgba(4,20,23,1) 100%);

  animation: GradientSupermassive 16s forwards;
  z-index: 1;
}
