/**
 * -----------------------------------------------------------------------------
 * $EMBED
 * -----------------------------------------------------------------------------
 */
 
/**
 * Container element for youtube & vimeo embeds. Uses a technique described 
 * a blog post (linked below) to make embedding video responsive.
 *
 * http://avexdesigns.com/responsive-youtube-embed/
 */
 
.embed {
	height: 0;
	margin-top: 0;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	
	> iframe {	
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}