/**
 * -----------------------------------------------------------------------------
 * $LIST
 * -----------------------------------------------------------------------------
 */

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .list__item {
        position: relative;
    }

/**
 * Displays items adjacent to each other.
 *
    <ul class="list list--horizontal">
        <li class="list__item">
            First List Item
        </li><li class="list__item">
            Second List Item
        </li>
        ...
    </ul>
 *
 */

.list--horizontal {
    display: flex;
    flex-flow: row wrap;
}

.list--vertical {
    display: flex;
    flex-direction: column;

    > .box { flex: 1; }
}

.list--centered {
    justify-content: center;
}

.list--equal-items {
    > .list__item {
        flex: 1;
    }
}

.list--space-between {
    justify-content: space-between;

    > .list__item {
        @include rem(margin-bottom, $spacing-gigantic / 2);
    }
}

.list--bordered { border: 1px solid $color-grey-light; }

.list--padding {
    > .list__item {
        @include rem(padding, $spacing-default);
    }
}
