/**
 * -----------------------------------------------------------------------------
 * $LOGO
 * -----------------------------------------------------------------------------
 */

/**
 * Displaying company logos.
 */

.logo {
	display: inline-block;
}

.logo--moov2 {
    @include svg-moov2-m();
    height: $logo-brand-height;
    width: $logo-brand-width-m;

    @media all and (min-width: $bp-v-tiny) {
        @include svg-moov2();
        width: $logo-brand-width;
    }
}

/**
 * Changes the logo to white for use against dark backgrounds.
 */
html {
    &.is-inverted-header {
        .logo--moov2 {
            @include svg-moov2-m($color-white);

            @media all and (min-width: $bp-v-tiny) {
                @include svg-moov2($color-white);
            }
        }
        .logo--grey {
            @include svg-moov2-m($color-grey-dark);

            @media all and (min-width: $bp-v-tiny) {
                @include svg-moov2($color-grey-dark);
            }
        }
    }
}

.logo--white {
    @include svg-moov2-m($color-white);

    @media all and (min-width: $bp-small) {
        @include svg-moov2($color-white);
        width: $logo-brand-width;
    }
}

.logo--technology {
	display: block;
	max-height: $logo-technology-height;
	max-width: $logo-technology-width;
}

.logo-hasbro {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    width: 600px;
    height: 600px;
    z-index: 8;

    animation: LogoHasbro 16s ease forwards;

    background-size: 100% 100%;
}

.logo-mars {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -130px;
    width: 700px;
    height: 261px;
    z-index: 7;

    animation: LogoMars 16s ease forwards;

    background-size: 100% 100%;
}

.logo-microsoft {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -130px;
    width: 700px;
    height: 261px;
    z-index: 7;

    animation: LogoMicrosoft 16s ease forwards;

    background-size: 100% 100%;
}

.logo-supermassive {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -130px;
    width: 700px;
    height: 261px;
    z-index: 7;

    animation: LogoSupermassive 16s ease forwards;

    background-size: 100% 100%;
}
