/**
 * -----------------------------------------------------------------------------
 * $NAV
 * -----------------------------------------------------------------------------
 */

/**
 * Favouring `max-width` here in order to reduce amount of CSS.
 */

.nav {
	display: inline-block;
}


	/**
	 * 1. Hides out of view until navigation is opened.
	 * 2. Improves performance by transferring rendering responsibility to the GPU.
	 */
	.nav__content {
		display: inline-block;


	}

		.nav__options {
			margin-bottom: 0;
			padding-left: 0;
			width: auto;


		}

			.nav__option {
				@include rem(margin-right, $nav-spacing);

				border-bottom: 0;

				display: inline-block;
				padding: 0;

				a {
					color: $font-color-default;

                    &:active,
                    &:focus,
                    &:hover {
                        color: $color-primary;
                        text-decoration: none;
                    }
				}


			}





/**
 * Changes the navigation to white for use against dark backgrounds.
 */
html {
    &.is-inverted-header {
        .nav__option a {
            color: $color-white; }
        }
}
