/**
 * -----------------------------------------------------------------------------
 * $PROMO
 * -----------------------------------------------------------------------------
 */

/**
 * Promotes a piece of content.
 */

.promo {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.promo--rev {
	& .flex--direction-column {
		@include bp-min-width($bp-medium) {
			flex-direction: row-reverse;
		}
	}
}

	.promo__brand,
	.promo__image,
	.promo__title {
		box-sizing: border-box;
		display: block;
	}

	.promo__image {
		max-height: 600px;
		max-width: 1300px;
		overflow: hidden;
		position: relative;
		z-index: 1;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: -45px;
			width: 50%;
			height: 80px;
			z-index: 1;

			background: $color-white;

			@include bp-min-width($bp-medium) {
				height: 100%;
				top: 0;
				width: 200px;
				z-index: 1;
			}
		}

		&:before {
			left: 0;

			transform: skewY(10deg);

			@include bp-min-width($bp-medium) {
				left: -168px;
				transform: skewX(-6deg);
			}
		}

		&:after {
			right: 0;

			transform: skewY(-10deg);

			@include bp-min-width($bp-medium) {
				display: none;
				right: -168px;
			}

			@include bp-min-width($bp-medium-large) {
				display: block;
				transform: skewX(-6deg);
			}
		}

		.promo--rev & {
			&:before,
			&:after {
				@include bp-min-width($bp-medium) {
					transform: skewX(6deg);
				}
			}

			&:before {
				@include bp-min-width($bp-medium) {
					display: none;
				}

				@include bp-min-width($bp-medium-large) {
					display: block;
				}
			}

			&:after {
				@include bp-min-width($bp-medium) {
					display: block;
				}
			}
		}

		img {
			transition: transform 1s ease-in-out;

			&:hover {
				transform: scale(1.03);
			}
		}
	}

	.promo__content {
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		max-width: 300px;

		@include bp-min-width($bp-medium) {
			@include rem(margin-left, $spacing-default);

			width: 300px;
		}

		@include bp-min-width($bp-huge) {
			margin-left: 0;
		}

		.promo--rev & {
			@include bp-min-width($bp-medium) {
				@include rem(margin-right, $spacing-default);

				margin-left: 0;
			}

			@include bp-min-width($bp-huge) {
				margin-right: 0;
			}
		}
	}

		.promo__description,
		.promo__title {
			@include rem(margin-bottom, $spacing-default);

			width: 100%;
		}

		.promo__title {
			@include rem(font-size, $font-size-heading / 1.5);

			text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
		}

		p.promo__description,
		.promo__description {
			padding-left: 0;
			padding-right: 0;

			line-height: 1.4;
		}

		.promo__btn {
			@include rem(font-size, $font-size-large);
			@include rem(width, $promo-btn-width);

			font-weight: $font-weight-bold;
			text-transform: uppercase;
		}

	.promo__link { display: block; }
