/**
 * -----------------------------------------------------------------------------
 * $PROMO
 * -----------------------------------------------------------------------------
 */

/**
 * Promotes a piece of content.
 */

.promo {
	position: relative;
	overflow: hidden;
	width: 100%;;
}

.promo--rev {
	display: flex;
	justify-content: flex-end;
}

	.promo__image,
	.promo__title {
		box-sizing: border-box;
		display: block;
	}

	.promo__image {
		@include rem(margin-bottom, $spacing-large);

		display: block;
	}

	.promo__content {
		@include rem(padding, $spacing-x-large);

		box-sizing: border-box;
		min-height: 900px;
		position: relative;
		width: 550px;
		z-index: 1;

		align-items: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&:after {
			content: "";
			position: absolute;
			left: -150px;
			top: 0;
			width: 700px;
			height: 100%;
			z-index: -1;

			transition: all 0.1s ease;
			transform: skewX(-10deg);

			background: $color-purple;
			box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
		}

		&:hover {
			&:after {
				left: -130px;
			}
		}

		.promo--rev & {
			&:after {
				left: auto;
				right: -150px;

				transform: skewX(10deg);
			}

			&:hover {
				&:after {
					right: -130px;
				}
			}
		}


		.section--hello-games & { &:after { background: $color-hello-games; } }
		.section--lol-compare & { &:after { background: $color-microsoft-studios; } }
		.section--microsoft-studios & { &:after { background: $color-microsoft-studios; } }
		.section--rocket-jump & { &:after { background: $color-rocket-jump; } }
		.section--supermassive & { &:after { background: $color-supermassive; } }
	}

		.promo__description,
		.promo__title {
			@include rem(margin-bottom, $spacing-large);

			color: $color-white;
			width: 100%;
		}

		.promo__title {
			@include rem(font-size, $font-size-heading / 1.5);

			text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
		}

		p.promo__description,
		.promo__description {
			@include rem(font-size, $font-size-large);

			padding-left: 0;
			padding-right: 0;

			line-height: 1.4;
		}

		.promo__btn {
			@include rem(font-size, $font-size-large);
			@include rem(width, $promo-btn-width);

			font-weight: $font-weight-bold;
			text-transform: uppercase;
		}

	.promo__link { display: block; }
