/**
 * -----------------------------------------------------------------------------
 * $ZONES
 * -----------------------------------------------------------------------------
 */

/**
 * Zones are containers in Orchard that hold various UI elements (e.g. shapes).
 * CSS classes for a zone are determined by the Orchard core.
 */

.zone-logo,
.zone-navigation {
	display: table-cell;
	vertical-align: middle;
}

.zone-logo {
	width: 60%;

	@media all and (min-width: $bp-nav-toggle) {
		width: 20%;
	}
}

.zone-navigation {
	text-align: right;
	width: 40%;

	@media all and (min-width: $bp-nav-toggle) {
		width: 80%;
	}
}

.zone-footer-primary,
.zone-footer-secondary {
	@include rem(padding-left, $spacing-base);
	@include rem(padding-right, $spacing-base);

	background-color: $color-brand;
	color: $color-grey-dark;

	@media all and (min-width: $bp-nav-toggle) {
		@include rem(padding-left, $spacing-large);
		@include rem(padding-right, $spacing-large);
	}

	a { color: $color-grey-dark; }

	hr { border-color: $color-grey-darkest; }
}

.zone-footer-primary {
	@include rem(padding-top, $spacing-x-large);
	@include rem(padding-bottom, $spacing-large / 4);
}

.zone-footer-secondary {
	@include rem(padding-bottom, $spacing-x-large);
}
