/**
 * -----------------------------------------------------------------------------
 * $ZONES
 * -----------------------------------------------------------------------------
 */

/**
 * Zones are containers in Orchard that hold various UI elements (e.g. shapes).
 * CSS classes for a zone are determined by the Orchard core.
 */

.zone-logo,
.zone-navigation {
	display: table-cell;
	vertical-align: middle;
}

.zone-logo {
	width: 60%;

	@media all and (min-width: $bp-nav-toggle) {
		width: 20%;
	}
}

.zone-navigation {
	text-align: right;
	width: 40%;

	@media all and (min-width: $bp-nav-toggle) {
		width: 80%;
	}
}

.zone-footer-primary {
	@include rem(padding, $spacing-large);
}

.zone-footer-secondary {
	@include rem(padding, $spacing-default);

	background-color: $color-grey-light;
}
