/**
 * -----------------------------------------------------------------------------
 * Welcome to the Sass stylesheet, play nice!
 * -----------------------------------------------------------------------------
 */

@import "vars";

$is-critical: true;

/**
 * Mixins used through out the stylesheet.
 * Learn more about mixins: http://sass-lang.com/documentation/file.SASS_REFERENCE.html#mixins
 */

@import "mixins/clearfix";
@import "mixins/media-queries";
@import "mixins/rem";
@import "mixins/string";
@import "mixins/svg";
@import "mixins/text";

/**
 * Styles for the base HTML elements, e.g. body, ul, etc...
 */

@import "base/html";
@import "base/body";
@import "base/heading";
@import "base/header";
@import "base/image";
@import "base/link";
@import "base/main";
@import "base/paragraph";
@import "base/section";

/**
 * Styles to assist with layout.
 */



/**
 * Components to be used through the site.
 */

@import "components/content";
@import "components/icons";
@import "components/nav";
@import "components/promo";
@import "components/tiles";
@import "components/zones";

/**
 * Utilty styles for tweaking default element styling.
 */

@import "trumps/text";
