/**
 * -----------------------------------------------------------------------------
 * $COLOUR
 * -----------------------------------------------------------------------------
 */

/**
 * Shows an example of colour.
 */
 
.sg-colour {
	text-align: center;
	
    display: inline-block;
}

	.sg-colour__fill {
		@include rem(margin-bottom, $spacing-small);
		border-radius: 50%;

		display: inline-block;
	
		height: 60px;
		width: 60px;
	}
	
	.sg-colour__fill--brand { background-color: $color-brand; }
	.sg-colour__fill--primary { background-color: $color-primary; }
	.sg-colour__fill--primary-light { background-color: $color-primary-light; }
	.sg-colour__fill--white { background-color: $color-white; }
	.sg-colour__fill--grey { background-color: $color-grey; }
	.sg-colour__fill--grey-light { background-color: $color-grey-light; }
	
	.sg-colour__property {
		@include rem(font-size, $font-size-small);
	}
	
.sg-fill { }

.sg-fill--1 { background-color: #2e1f27; }
.sg-fill--2 { background-color: #854d27; }
.sg-fill--3 { background-color: #dd7230; }
.sg-fill--4 { background-color: #f4c95d; }
.sg-fill--5 { background-color: #e7e393; }