<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.webServer>
        <!-- domain and URL rewriting -->
        <rewrite xdt:Transform="InsertIfMissing">
            <rules xdt:Transform="InsertIfMissing">
                <rule name="Redirect www to just root [domain].com" patternSyntax="ECMAScript" stopProcessing="true" xdt:Transform="InsertIfMissing">
                    <match url=".*" xdt:Transform="InsertIfMissing" />
                    <conditions logicalGrouping="MatchAny" xdt:Transform="InsertIfMissing">
                <add input="{HTTPS}" pattern="off" xdt:Transform="InsertIfMissing" />
                        <add input="{HTTP_HOST}" pattern="^www\.moov2\.com$" xdt:Transform="InsertIfMissing" />
                    </conditions>
                    <action type="Redirect" url="https://moov2.com/{R:0}" xdt:Transform="InsertIfMissing" />
                </rule>
            </rules>
        </rewrite>

        <!--Restart the server in case we get 10 500 errors within 30 seconds-->
        <monitoring xdt:Transform="InsertIfMissing">
            <triggers xdt:Transform="InsertIfMissing">
                <!-- Scenario #1 : Logging an event (or recycling) based on HTTP status code(s) -->
                <statusCode xdt:Transform="InsertIfMissing">
                    <add count="10" statusCode="500" subStatusCode="100" timeInterval="00:00:30" win32StatusCode="0" xdt:Transform="InsertIfMissing"/>
                </statusCode>
            </triggers>
            <!-- Scenario #1 Action -->
            <actions value="Recycle" xdt:Transform="InsertIfMissing"/>
        </monitoring>
    </system.webServer>
</configuration>
