/**
 * -----------------------------------------------------------------------------
 * $FOOTER
 * -----------------------------------------------------------------------------
 */

/**
 * Styling for the `footer` element.
 */

footer {
	@include rem(font-size, $font-size-small);

	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	/**
	 * Reset styles for `footer` element that is added by default
	 * to content items in Orchard.
	 */
	article & {
		display: block;
		max-width: none;
		padding: 0;
	}

	p {
		@include rem(margin-bottom, $spacing-base * 1.5);
	}
}
