/**
 * -----------------------------------------------------------------------------
 * $HEADER
 * -----------------------------------------------------------------------------
 */

/**
 * Styling for the `header` element.
 */

header {
	@include rem(font-size, $font-size-default);
	@include rem(padding-bottom, $spacing-default);
	@include rem(padding-left, $spacing-base);
	@include rem(padding-right, $spacing-base);
	@include rem(padding-top, $spacing-default);

	background-color: $color-white;

	box-sizing: border-box;
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	@media all and (min-width: $bp-medium) {
		@include rem(padding-left, $spacing-large);
		@include rem(padding-right, $spacing-large);
	}

	body > & {
		left: 0;
		position: absolute;
		top: 0;
		z-index: 10;

		background: none;
		border-bottom: 1px solid $color-grey-lightest;
	}

	/**
	 * Reset styles for `header` element that is added by default
	 * to content items in Orchard.
	 */
	article & {
		display: block;
		max-width: none;
		padding: 0;
	}
}

/**
 * Uses semi-transparent border against dark backgrounds.
 */
html {
	&.is-inverted-header {
		header { border-bottom: 1px solid $color-white-transparent; }
	}
}
