/**
 * -----------------------------------------------------------------------------
 * $HEADER
 * -----------------------------------------------------------------------------
 */

/**
 * Styling for the `header` element.
 */

header {

	.main--nav {
		@include rem(font-size, $font-size-default);
		@include rem(padding-bottom, $spacing-default);
		@include rem(padding-left, $spacing-base);
		@include rem(padding-right, $spacing-base);
		@include rem(padding-top, $spacing-default);
	}

	background-color: $color-white;

	box-sizing: border-box;
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	@media all and (min-width: $bp-medium) {
		.main--nav {
			@include rem(padding-left, $spacing-large);
			@include rem(padding-right, $spacing-large);
		}
	}

	body > & {
		left: 0;
		position: absolute;
		top: 0;
		z-index: 10;

		background: none;

		/* The following can be removed if the ETCH Play announcement is removed. This code pushes the header down underneath the announcement. */

		top: 184px;

		@media all and (min-width: 333px) { top: 162px; }
		@media all and (min-width: 387px) { top: 140px; }
		@media all and (min-width: 459px) { top: 118px; }
		@media all and (min-width: 598px) { top: 96px; }
		@media all and (min-width: 936px) { top: 78px; }
	}

	/**
	 * Reset styles for `header` element that is added by default
	 * to content items in Orchard.
	 */
	article & {
		display: block;
		max-width: none;
		padding: 0;
	}
}

/**
 * Uses semi-transparent border against dark backgrounds.
 */
html {
	&.is-inverted-header {
		.header--masthead { /*border-bottom: 1px solid $color-white-transparent;*/ }
	}
}
