/**
 * -----------------------------------------------------------------------------
 * $INPUT
 * -----------------------------------------------------------------------------
 */

/**
 * Styles for the `input` element.
 */

input {
	font-weight: $font-weight-default;
	color: $color-brand;

	box-sizing: border-box;
}

input[type=checkbox] {
	@include rem(margin-right, $spacing-base);
}

input[type=email],
input[type=password],
input[type=tel],
input[type=text] {
	@include rem(padding, $spacing-small);

	display: block;
    width: 100%;
}

input[type=submit] {
	border: none;
}
