/**
 * -----------------------------------------------------------------------------
 * $MAIN
 * -----------------------------------------------------------------------------
 */

/**
 * Styling for the `main` element.
 *
 * 1. Ensures main fits the height of the browser when there is little page content.
 *
 */

main {
	@include rem(font-size, $font-size-default);

	box-sizing: border-box;
	flex: 1 auto; /* 1. */
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
