/**
 * -----------------------------------------------------------------------------
 * $PARAGRAPH
 * -----------------------------------------------------------------------------
 */
 
/**
 * Styles for `p` elements.
 */
 
p {
	@include rem(line-height, $line-height-default);
	@include rem(margin-bottom, $spacing-default);
	
	font-weight: $font-weight-default;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	max-width: $content-line-length;
	width: 100%; 
	
	&:last-child {
		margin-bottom: 0; 
	}
	
	footer & {
		max-width: none;
	}
}