/**
 * -----------------------------------------------------------------------------
 * $PICTURE
 * -----------------------------------------------------------------------------
 */

/**
 * Styles for the `picture` element.
 */

picture {
    box-sizing: border-box;
}
