/**
 * -----------------------------------------------------------------------------
 * $SECTION
 * -----------------------------------------------------------------------------
 */

/**
 * Sections should be used in content to define the width of the content.
 */

section,
.section {
	@include clearfix();

	box-sizing: border-box;
	display: block;
	position: relative;

	.orchard-layouts-root > & {
		&:first-child {
			@include rem(padding-top, $header-height);
		}
	}

	&:last-child { margin-bottom: 0; }

	@media all and (min-width: $bp-medium) {
		padding: 0;
	}
}

	.section__content {
		@include rem(padding-left, $spacing-base);
		@include rem(padding-right, $spacing-base);

		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		max-width: $content-width;
		width: 100%;

		.section--content-padding-none & { padding: 0; }

		.section--wide & { max-width: $content-width-large; }
		.section--x-wide & { max-width: $content-width-x-large; }
		.section--xx-wide & { max-width: $content-width-xx-large; }
		.section--xxx-wide & { max-width: $content-width-xxx-large; }
		.section--fill & { max-width: none; }

		.section--content-left & { margin-left: 0; }
		.section--content-right & { margin-right: 0; }
	}

.section--spaced { @include rem(padding, $spacing-large); }

.section--hero {
	height: 95vh;

	@include bp-min-width($bp-huge) {
        @include rem(padding-left, $spacing-gigantic * 2);
        @include rem(padding-right, $spacing-gigantic * 2);
    }

	p {
		@include rem(font-size, $font-size-large);
		@include rem(margin-bottom, $spacing-large);
	}
}

/**
 * Apply gradients to the a section.
 */

.section--gradient,
.section--gradient-light {
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		z-index: 1;

		pointer-events: none;

		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,.5) 100%);
	}
}

.section--gradient-light {
	&:before {
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,.1) 100%);
	}
}

/**
 * Sections for specific projects.
 */

.section--3fire {
	background-image: url(#{$url-images}section-bg-tom-gates.jpg);
	background-position: 0 0;
	background-size: cover;
	color: $color-white;
}

.section--rocket-jump {
	background-image: url(#{$url-images}section-bg-rocket-jump.jpg);
	background-position: 0 0;
	background-size: cover;
	color: $color-white;
}

.section--until-dawn {
	background-image: url(#{$url-images}section-bg-until-dawn.jpg);
	background-position: 0 0;
	background-size: cover;
	color: $color-white;
}

/**
 * Section colour modifiers.
 */

.section--dark,
.section--primary,
.section--primary-dark,
.section--purple {
	color: $color-white;

	a {
		color: $color-white;
		text-decoration: underline;
	}
}

.section--dark { background-color: $color-brand; }
.section--grey-lightest { background-color: $color-grey-lightest; }
.section--primary { background-color: $color-primary; }
.section--primary-dark { background-color: $color-primary-dark; }
.section--purple { background-color: $color-purple; }

/**
 * Section height modifiers.
 */

.section--height-quarter { height: 25vh; }
.section--height-half { height: 50vh; }
.section--height-full { height: 100vh; }

/**
 * Section padding modifiers. Top & bottom padding of a section should be consistent.
 */

.section--padding { @include rem(padding, $spacing-gigantic); }
.section--padding-bottom { @include rem(padding-bottom, $spacing-gigantic); }
.section--padding-top { @include rem(padding-top, $spacing-gigantic); }
.section--padding-vertical { @include rem(padding, $spacing-gigantic 0); }
