/**
 * -----------------------------------------------------------------------------
 * $SECTION
 * -----------------------------------------------------------------------------
 */

/**
 * Sections should be used in content to define the width of the content.
 */

section,
.section {
	@include clearfix();

	box-sizing: border-box;
	display: block;
	position: relative;

	&:last-child { margin-bottom: 0; }

	@media all and (min-width: $bp-medium) {
		padding: 0;
	}
}

	.section__content {
		margin-left: auto;
		margin-right: auto;
		max-width: $content-width;
		width: 100%;

		.section--wide & { max-width: $content-width-large; }
		.section--x-wide & { max-width: $content-width-x-large; }
		.section--xx-wide & { max-width: $content-width-xx-large; }
		.section--xxx-wide & { max-width: $content-width-xxx-large; }
		.section--fill & { max-width: none; }

		.section--content-left & { margin-left: 0; }
		.section--content-right & { margin-right: 0; }
	}

.section--primary {
	@include rem(padding, $spacing-base);

	background-color: $color-primary;
	color: $color-white;
}

.section--spaced { @include rem(padding, $spacing-large); }

.section--hero {
	@include rem(padding-left, $spacing-gigantic);
	@include rem(padding-right, $spacing-gigantic);

	height: 82vh;

	@include bp-min-width($bp-huge) {
        @include rem(padding-left, $spacing-gigantic * 2);
        @include rem(padding-right, $spacing-gigantic * 2);
    }

	p {
		@include rem(font-size, $font-size-heading / 3);
		@include rem(margin-bottom, $spacing-large);
	}

	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		z-index: 1;

		pointer-events: none;

		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,.5) 100%);
	}
}

.section--no-gradient {
	&:before { display: none; }
}

.section--3fire {
	background-image: url(#{$url-images}section-bg-tom-gates.jpg);
	background-position: 0 0;
	background-size: cover;
	color: $color-white;
}

.section--rocket-jump {
	background-image: url(#{$url-images}section-bg-rocket-jump.jpg);
	background-position: 0 0;
	background-size: cover;
	color: $color-white;
}

.section--until-dawn {
	background-image: url(#{$url-images}section-bg-until-dawn.jpg);
	background-position: 0 0;
	background-size: cover;
	color: $color-white;
}

.section--dark {
	background-color: $color-brand;
	color: $color-white;
}

.section--primary {
	background-color: $color-primary;
	color: $color-white;

	a {
		color: $color-white;
		text-decoration: underline;
	}
}

/**
 * Padding modifiers. Top & bottom padding of a section should be consistent.
 */

.section--padding { @include rem(padding, $spacing-gigantic); }
.section--padding-top { @include rem(padding-top, $spacing-gigantic); }
.section--padding-bottom { @include rem(padding-top, $spacing-gigantic); }
.section--padding-vertical { @include rem(padding, $spacing-gigantic 0); }
