/**
 * -----------------------------------------------------------------------------
 * $TEXTAREA
 * -----------------------------------------------------------------------------
 */

/**
 * Styles for the `textarea` element.
 */


textarea {
    display: block;

    box-sizing: border-box;
    width: 100%;

    resize: vertical;

    color: $color-brand;
}
