/**
 * -----------------------------------------------------------------------------
 * $TEXTAREA
 * -----------------------------------------------------------------------------
 */

/**
 * Styles for `textarea` elements.
 */

textarea {
    display: block;

    width: 100%;

    resize: vertical;

    color: $color-brand;
}
