/**
 * -----------------------------------------------------------------------------
 * $TEXTMIXINS
 * -----------------------------------------------------------------------------
 */
 
/**
 * Useful mixin to assist with styling text.
 */
 
@mixin heading() {
	@include rem(font-size, $font-size-heading-mobile);
	@include rem(line-height, $font-size-heading-mobile);
	 
    font-weight: $font-weight-bold;
	
	@media all and (min-width: $bp-reduce-heading-font-size) {
		@include rem(font-size, $font-size-heading);
		@include rem(line-height, $font-size-heading);
	}
}
 
@mixin subheading() {
	@include rem(font-size, 3.6rem);
	@include rem(line-height, 4rem);
	
	font-weight: $font-weight-bold;
}

@mixin subsubheading()
{
	@include rem(font-size, 2.4rem);
	@include rem(line-height, 3rem);
	
	font-weight: $font-weight-bold;	
}