@{
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
}

<a href="@Url.ItemDisplayUrl(contentItem)" class="link--blank"><h2 class="post__title">@Model.Title.ToString()</h2></a>