@using Orchard.Core.Common.Models 
@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Fields
@using Orchard.Users.Models

@functions {
    string FormatDate(DateTime date) {
		return date.ToString("dd.MM.yy");
    }
	
	string FormatUsername(dynamic owner) {
		if (owner == null || string.IsNullOrEmpty(owner.UserName)) {
			return string.Empty;
		}
		
		return char.ToUpper(owner.UserName[0]) + owner.UserName.Substring(1);
	}
}


<p class="text--small text--grey">@FormatDate(Model.ContentPart.CreatedUtc) | @FormatUsername(Model.ContentPart.Owner)</p>