@{
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
}

<a href="@Url.ItemDisplayUrl(contentItem)" class="link--blank">
    <h2 class="margin--bottom-small padding--top-base padding--top-none@medium">@Model.Title.ToString()</h2>
</a>