@using Orchard.Core.Common.Models 
@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Fields
@using Orchard.Users.Models

@functions {
    string FormatDate(DateTime date) {
		return date.ToString("dd.MM.yy");
    }
	
	string FormatUsername(string username) {
		if (string.IsNullOrEmpty(username)) {
			return string.Empty;
		}
		
		return char.ToUpper(username[0]) + username.Substring(1);
	}
}


<p class="text--small text--grey">@FormatDate(Model.ContentPart.CreatedUtc) | @FormatUsername(Model.ContentPart.Owner.UserName)</p>