@using Orchard.ContentManagement
@using Orchard.Mvc.Html

@{
    var buildShapes = Model.BuildShapes;
    var items = new List<object>();

    foreach (var shape in buildShapes())
    {
        items.Add(shape);
    }
}

<ul class="list">
    @foreach(var item in items) {
    <li class="list__item margin--bottom-gigantic">
        @Display(item)
    </li>
    }
</ul>